:root {
  scroll-behavior: smooth;
}

html,body {
  margin: 0;
  padding: 0;
  /* background-color: #fff; */
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  background-color: antiquewhite;
}
/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/
/* .hero{
  height: 100vh;
  background-position: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
} */
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar{
  background-color: #66523a;

}


div.container-fluid{
  padding:0px;
  width: 100%;
  box-sizing: border-box;
}
div#navbarSupportedContent{
  padding-left: 10px;
  padding-right: 50px;
}
.navbar ul li {
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  color:antiquewhite;
}
.navbar .nav-link{
  color:antiquewhite;
}
.navbar img{
  width: 34px;
  height:43px;
  margin-left: 15px;
  margin-right: 15px;
  color:antiquewhite;
}
.navbar-brand {
  font-family: 'Montserrat';
  font-size: larger;
  font-weight: 700;
  padding-left:35px;
  color: antiquewhite;
}
.navbar button.navbar-toggler{
margin-right: 25px;
padding:4px 4px;
}
.dropdown-menu{
  min-width: 8.5rem;
}

/*--------------------------------------------------------------
# Search bar
--------------------------------------------------------------*/
.container.search-bar{
  margin-top: 140px;
}
.search-form {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 100%;
  max-width: 600px;
}

.search-bar .btn-outline-secondary {
 border-radius: 0px !important;
 border: 1px solid #ced4da;
}

.dropdown-menu {
  min-width: 0;
}
.search-bar #searchButton{
  border-radius: 0px;
  background-color: #727c57;
  color: white;
  padding: 7.5px 20px;
}
.search-bar .dropdown-toggle{
  background-color: transparent;
}

/*--------------------------------------------------------------
# Books Carousel
--------------------------------------------------------------*/
.book.container{
  display: flex !important;
  flex-direction: column;
  align-items: center; /* horizontally center the child elements */
  justify-content: center; /* vertically center the child elements */
  max-width: 100%;
  margin: 0px auto;
  padding-top: 45px ;
  padding-bottom: 165px;
  padding-left: 0px;
  padding-right: 0px;
}
.book.container.reverse-background{
  background-color: #66523a;
}
.book.container.reverse-background h1{
  color: antiquewhite;
}
 h1{
    color: #000000ba;
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 0px;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    margin-left:60px ;
    margin-right: 60px;
    font-family: 'Noto Serif', serif;

}

h1::after {
	content: "";
	width: 183px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #727c57;
	left: 0;
	right: 0;
	bottom: -20px;
  margin: auto;
}

.dynamic-carousel{
  width: 100%;
  max-width: 85% !important;
}
.col-md-2{
  margin-bottom: 10px;
}
/* Style the book images */
.dynamic-carousel img {
  height: 155px;
  object-fit: fill;
  border:none;
  border-radius: 2px;
  margin-top: 30px;
  width: auto;
  max-width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

}

.img-wrapper{
  max-width: 100%;
  height: 10vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(#e1dad2 75%, transparent 25%);
}
.card .card-img-top  {
  max-height: 90%;
border: none !important;
}

@media (max-width: 767px) {
.card .img-wrapper {
  height: 17em;
}
}


.dynamic-carousel h5{
  font-size: 16.5px;
  font-style: italic;
  font-weight: 600;
  font-family: 'DM Serif Display', serif;
  text-transform: capitalize;
}
.carousel-inner a h5 {
  color:#000000ba;
}
.carousel-inner a{
  text-decoration: none;

}

.dynamic-carousel .btn{
  display: grid;
  font-size: 15px;;
  background-color: #727c57 ;
  border-color:#727c57;
  justify-content: center;
  margin-bottom: 5px;
}
.dynamic-carousel #button-box{
  justify-content: center;
}

.btn{
  background-color: #727c57 ;
  border-color: #727c57;
  color: white;
}
.btn:hover{
  background-color: #2d3c1f;
}


.carousel-item {
  text-align: center;
  width: 100%; /* Adjust the width of the items as needed */
  max-width: none; /* Remove the max-width property */
}



.carousel-control-prev,
.carousel-control-next {
  width: 5%;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  font-size: 30px;
}

.carousel-control-prev,
.carousel-control-next {
    height: 44px;
    width: 40px;
    background-color: #727c57;
    margin: auto 0;
    border-radius: 4px;
    opacity: 0.8;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: #727c57;
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -18px;
    z-index: 5;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}

.carousel-control-prev-icon {
    margin-left: -2px;
}

.carousel-control-next-icon {
    margin-right: -4px;
}


/* Disable carousel indicators */
.carousel-indicators {
  display: none;
}

#button-box {
    display: flex !important;
    flex-direction: row;
  }

  @media (max-width: 1250px) {
    #button-box {
      flex-direction: column;
      font-size: 9px;
    }
    a.btn.reserve-form.ml-2 {
      font-size: 11px;
    }
  }





/*--------------------------------------------------------------
# Preview Modal
--------------------------------------------------------------*/

/* Custom CSS for the modal */
#pdfPreviewModal .modal-content {
  background-color: #f8f9fa;
  height:80vh;
}

#pdfViewer {
  border: none;
}

div#icon{
    display: none !important;
}

/*--------------------------------------------------------------
# Reserve Modals
--------------------------------------------------------------*/
.modal-dialog {
  max-width: 600px;
}
.modal-body{
  color:#2d3c1f;
}

