:root {
  scroll-behavior: smooth;
}

html,body {
  
  margin: 0;
  padding: 0;
  /* background-color: #fff; */
  color: #555;
  font-family: 'Montserrat', sans-serif;
  
   font-weight: 300;
  font-size: 20px; 
  text-rendering: optimizeLegibility;
  
}
/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar{
  background-color: #e1dad2;

}
div.container-fluid{
  padding:0px;
  width: 100%;
  box-sizing: border-box;
}
div#navbarSupportedContent{
  padding-left: 10px;
  padding-right: 50px;
}
.navbar ul li {
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.navbar img{
  width: 34px;
  height:43px;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-brand {
  font-family: 'Montserrat';
  font-size: larger;
  font-weight: 700;
  padding-left:35px;
}
.navbar button.navbar-toggler{
margin-right: 25px;
padding:4px 4px;
}
.dropdown-menu{
  min-width: 8.5rem;
}

/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
div.container{
  margin:130px;
}